body {
	background-color: black;
}

#instructions {
	background-image: url('../images/sflogo.png');
	background-repeat: no-repeat;
	background-size: 96%;
	font-family: Georgia, sans-serif;
	font-size: 32px;
	font-weight: bold;
	float: right;
	height: 460px;
	width: 250px;
	margin: 10px;
	padding: 10px;
	margin-right: 50px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
}

h1 {
	position: relative;
	top: 33.333333%;
}

.main {
	background-color: white;
	background-image: url('../images/ehonda.gif');
	background-size: cover;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.main, .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}